@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "cmunbi";
  src: url("../fonts/cmunbi.ttf") format("truetype");
}

/* Variables */
:root {
  --shadow-low: rgba(23, 98, 163, 0.4);
  --shadow-high: rgba(23, 98, 163, 1);

  --primary: #1762a3;
  --primary-hover: #11528c;
  --danger: #e10000;
  --success: #1b9c85;
  --warning: #f7d060;
  --main: #ffffff;
  --info-dark: #7d8da1;
  --dark: #363949;
  --light: rgba(132, 139, 200, 0.18);
  --dark-variant: #677483;
  --background: #f6f6f9;
  --dark-green: #009121;
  --white: #ffffff;
  --disabled-button: #4b4b4b;
  --darken-blue: #36404e;
}

.dark-mode-variables {
  --background: #181a1e;
  --main: #202528;
  --dark: #edeffd;
  --dark-variant: #a3bdcc;
  --light: rgba(0, 0, 0, 0.4);
  --box-shadow-8: 0 0.8rem 1.6rem var(--light);
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

.math-font {
  font-family: "cmunbi";
}

.button-active {
  background-color: var(--primary);
  color: var(--white);
}

button,
span,
.mt-title {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.icon {
  pointer-events: none;
}
/* Custom styles for the autocomplete suggestions */
input::-webkit-autocomplete,
input::-webkit-autocomplete-popup {
  /* Set the background color for autocomplete suggestions */
  background-color: var(--color-white); /* Tailwind bg-gray-200 */
}

/* Remove browser default styles */
input::-webkit-autocomplete-popup {
  border: none;
  padding: 0;
  margin: 0;
}

/* Style for each suggestion */
input::-webkit-autocomplete-item {
  padding: 0.5rem; /* Tailwind p-2 */
  color: #1f2937; /* Tailwind text-gray-800 */
}

/* Style for the hovered suggestion */
input::-webkit-autocomplete-item:hover {
  background-color: var(--color-background); /* Tailwind bg-gray-300 */
}

/* Utils */

.selected-button {
  background-color: var(--primary);
  color: var(--white);
}

.selected-bottom-tab-button {
  @apply h-8 w-8 border-primary bg-primary transition-all;
}

/* First child */
.selected-bottom-tab-button > .icon {
  @apply h-5 w-5;
}

.tape-state {
  @apply mx-2 flex h-10 max-h-10 min-h-10 w-10 min-w-10 max-w-10 items-center justify-center truncate rounded-full border-2 border-white text-center font-semibold text-white;
}

/* Scroll */

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-variant);
}
