@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "cmunbi";
  src: url("../fonts/cmunbi.ttf") format("truetype");
}

/* Variables */
:root {
  --shadow-low: rgba(23, 98, 163, 0.4);
  --shadow-high: rgba(23, 98, 163, 1);

  --primary: #1762a3;
  --primary-hover: #11528c;
  --danger: #ff0060;
  --success: #1b9c85;
  --warning: #f7d060;
  --main: #ffffff;
  --info-dark: #7d8da1;
  --dark: #363949;
  --light: rgba(132, 139, 200, 0.18);
  --dark-variant: #677483;
  --background: #f6f6f9;
  --dark-green: #009121;
  --white: #ffffff;
}

.dark-mode-variables {
  --background: #181a1e;
  --main: #202528;
  --dark: #edeffd;
  --dark-variant: #a3bdcc;
  --light: rgba(0, 0, 0, 0.4);
  --box-shadow-8: 0 0.8rem 1.6rem var(--light);
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

.math-font {
  font-family: "cmunbi";
}

.button-active {
  background-color: var(--primary);
  color: var(--white);
}

button,
span,
.mt-title {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.icon {
  pointer-events: none;
}

.canvas-focused {
  box-shadow:
    0 0 4.2rem 0 var(--color-shadow-low),
    0 0 2.1rem 0 var(--color-shadow-high);
}

/* Custom styles for the autocomplete suggestions */
input::-webkit-autocomplete,
input::-webkit-autocomplete-popup {
  /* Set the background color for autocomplete suggestions */
  background-color: var(--color-white); /* Tailwind bg-gray-200 */
}

/* Remove browser default styles */
input::-webkit-autocomplete-popup {
  border: none;
  padding: 0;
  margin: 0;
}

/* Style for each suggestion */
input::-webkit-autocomplete-item {
  padding: 0.5rem; /* Tailwind p-2 */
  color: #1f2937; /* Tailwind text-gray-800 */
}

/* Style for the hovered suggestion */
input::-webkit-autocomplete-item:hover {
  background-color: var(--color-background); /* Tailwind bg-gray-300 */
}

/* Tooltip */

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-wrapper > .tooltip {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s,
    opacity 0.8s ease-in;
}

.tooltip-wrapper:hover > .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  width: max-content;
  max-width: 20rem;
  position: absolute;
  box-shadow: var(--box-shadow-8);
  padding: 1rem 0.8rem;
}

/* TOP */

.tooltip.top {
  position: absolute;
  top: 4.7rem;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--color-white);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  z-index: 1;
}

.tooltip.top::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -1.2rem;
  left: 50%;
  transform: translateX(-50%);
  border-left: 1.3rem solid transparent;
  border-right: 1.3rem solid transparent;
  border-bottom: 1.3rem solid var(--color-white);
}

/* BOTTOM */

.tooltip.bottom {
  position: absolute;
  bottom: 4.7rem;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--color-white);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  z-index: 1;
}

.tooltip.bottom::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -1.2rem;
  left: 50%;
  transform: translateX(-50%);
  border-left: 1.3rem solid transparent;
  border-right: 1.3rem solid transparent;
  border-top: 1.3rem solid var(--color-white);
}

/* LEFT */

.tooltip.left {
  position: absolute;
  top: 50%;
  left: 6.5rem;
  transform: translateY(-50%);
  background-color: var(--color-white);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  z-index: 1;
}

.tooltip.left::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: -1.2rem;
  transform: translateY(-50%);
  border-top: 1.3rem solid transparent;
  border-bottom: 1.3rem solid transparent;
  border-right: 1.3rem solid var(--color-white);
}

/* RIGHT */

.tooltip.right {
  position: absolute;
  top: 50%;
  right: 4.7rem;
  transform: translateY(-50%);
  background-color: var(--color-white);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  z-index: 1;
}

.tooltip.right::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  right: -1.2rem;
  transform: translateY(-50%);
  border-top: 1.3rem solid transparent;
  border-bottom: 1.3rem solid transparent;
  border-left: 1.3rem solid var(--color-white);
}

.tooltip .title {
  font-size: 1rem;
  font-weight: 900;
  color: var(--color-dark-green);
  border-bottom: 0.01rem solid rgba(87, 87, 87, 0.4);
}

.tooltip .description {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-dark);
  margin-top: 0.5rem;
}

/* Menu export */

.export-tooltip {
  width: 20rem;
  min-width: 20rem;
  max-width: 20rem;
  position: absolute;
  box-shadow: var(--box-shadow-8);
  padding: 1rem 0.8rem;
  flex-direction: column;
  align-items: center;
}

/* Only LEFT */

.export-tooltip.left {
  position: absolute;
  top: 50%;
  left: 6.5rem;
  transform: translateY(-50%);
  background-color: var(--color-white);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  z-index: 1;
}

.export-tooltip.left::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: -1.2rem;
  transform: translateY(-50%);
  border-top: 1.3rem solid transparent;
  border-bottom: 1.3rem solid transparent;
  border-right: 1.3rem solid var(--color-white);
}
